[submodule "third-party/kokkos"]
	path = third-party/kokkos
	url = https://github.com/kokkos/kokkos
	branch = develop
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw
	branch = master
[submodule "third-party/kokkos-tools"]
	path = third-party/kokkos-tools
	url = https://github.com/kokkos/kokkos-tools
[submodule "third-party/cuda-samples"]
	path = third-party/cuda-samples
	url = https://github.com/NVIDIA/cuda-samples
[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://gitlab.com/libeigen/eigen/
