/*.o
/karamelo*
/**/*~
/*.LAMMPS
/examples/*/*.LAMMPS
/examples/*.LAMMPS
/examples/*/*/*.LAMMPS
/examples/*/log*
/examples/*/*.png
/examples/*/*.data
/examples/*/*/*.png
/examples/*/*/*.data
/examples/*/*/*.*~
/examples/*/*.*~
/#*
/CMakeCache.txt
/CMakeFiles
/Makefile
/cmake_install.cmake
/**/dump*.LAMMPS
