/*.o
/karamelo*
/**/*~
/*.LAMMPS
/examples/*/*.LAMMPS
/examples/*.LAMMPS
/examples/*/*/*.LAMMPS
/examples/*/log*
/examples/*/*.png
/examples/*/*.data
/examples/*/*/*.png
/examples/*/*/*.data
/examples/*/*/*.*~
/examples/*/*.*~
/#*
**/CMakeCache.txt
**/CMakeFiles/*
**/cmake_install.cmake
**/Makefile
/**/dump*.LAMMPS
/src/version.cpp
/doc/Doxyfile
/doc/Doxyfile_works
/doc/Karamelo.doxytags
/doc/karamelodoxy_footer.html
/doc/karamelodoxy_header.html
/doc/karamelodoxy_layout.xml
/doc/latex/*
.vs*
CMakeSettings.json
build/
